.obj {
  position: absolute;
  z-index: 11;
  --planet-filter: drop-shadow(0 6px 12px #03091780) drop-shadow(0 0 12px #b0ceff16);
  animation: objFloat var(--dur, 8s) var(--del, 0s) ease-in-out infinite
    alternate;
}

@keyframes objFloat {
  from {
    transform: translate(0, 0) rotate(var(--r0, 0deg));
  }
  to {
    transform: translate(var(--tx, 0px), var(--ty, -12px))
      rotate(var(--r1, 5deg));
  }
}
