
.coverImage {
  height: 50vh;
  object-fit: cover;
  width: 100%;
  display: block;
}

.coverVideo {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  display: block;
}

/* p, a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  display: block;
  color: black;
} */


#blog-index h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

#blog-index h1, #blog-index a {
  text-align: center;
  display: block;
}

#blog-index a {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.article {
  padding: 100px;
  padding-top: 25px;
}

.col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.profile-picture {
  position: absolute;
  top: 0px;
  left: 50%;
  height: 100px;
  width: auto;
  border-radius: 100%;
  margin: auto;
  transform: translate(-50%, 0%);
}

.heading-box {
  position: absolute;
  background-color: white;
  top: 25%;
  left: 35%;
  margin: 0px auto;
  bottom: 25%;
  right: 35%;
  
}
.heading-box * {
  text-align: center;
}



@media(max-width:768px) {
  .heading-box {
      left: 5%;
      right: 5%;
  }
}

@media(max-height: 500px) {
  .heading-box {
      bottom: 5%;
  }
}

.cta-grid {
  padding: 10px;
}

.cta-grid.left *{
  text-align: left;
}

.cta-grid.right *{
  text-align: right;
}

.container {
  width: 100%;
}